
include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include pymcssa *.py
recursive-include docs *

recursive-include tests *
prune pymcssa/tests

exclude *.pyc
exclude *.pyo
exclude *.DS_Store
prune build
prune dist
prune __pycache__
